<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dedicace.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".ui.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="preferences"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Admin.AdminHome"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Admin.CreateSourceSong"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ChooseBackground"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Admin.ModifySourceSong"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySourceSongDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>

        <activity
            android:name=".ui.Admin.CreateSong"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ChooseMp3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Admin.ModifySong"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySongDetails"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.CreateUser"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.CreateChorale"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifyChorale"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifyUserDetails"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.Admin.AdminHome" />
    </activity>
        <activity
            android:name=".ui.Admin.ModifyUser"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifyChoraleDetails"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.CreateSpectacle"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.CreateSaison"
            android:parentActivityName=".ui.Admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySpectacle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySaison"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.AddConcert"
            android:parentActivityName=".ui.Admin.CreateSpectacle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.CreateSpectacle" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySpectaclesDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ModifySaisonDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.AdminHome" />
        </activity>
        <activity
            android:name=".ui.Admin.ChooseChorale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Admin.GenListDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Admin.GenList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Admin.ModifySpectaclesDetails" />
        </activity>

        <service
            android:name=".data.networkdatabase.ChoraleSyncIntentService"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>